html {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    background-color: black
}

body {
    margin: 0;
}

h1 {
    color: #E7E1E2;
}

p {
    color: #E7E1E2;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.1rem;

}